.Rproj.user
.Rhistory
.RData
.Ruserdata
.lintr

BIOGRID-ALL-4.4.221.tab3.txt
data/BIOGRID-ALL-4.4.221.tab3.zip
data/BIOGRID-ALL-4.4.221.tab3.ALLSPECIES.txt
C_acnes_genomic_comparison_gene_clusters_summary.tsv